[submodule "libs/minidns"]
	path = libs/minidns
	url = https://github.com/rtreffer/minidns.git

[submodule "libs/openpgp-api-lib"]
	path = libs/openpgp-api-lib
	url = https://github.com/open-keychain/openpgp-api-lib.git
