[submodule "libs/openpgp-keychain"]
	path = libs/openpgp-keychain
	url = https://github.com/openpgp-keychain/openpgp-keychain.git
[submodule "libs/minidns"]
	path = libs/minidns
	url = https://github.com/rtreffer/minidns.git

