language: android
jdk:
  - oraclejdk8
android:
  components:
    - platform-tools
    - tools
    - build-tools-27.0.3
    - extra-google-google_play_services
  licenses:
    - '.+'
script:
    - ./gradlew assembleFreeSystemRelease

before_install:
    - yes | sdkmanager "platforms;android-27"
