<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eu.siacs.conversations"
    android:versionCode="9"
    android:versionName="0.1.3" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light" >
        <service android:name="eu.siacs.conversations.services.XmppConnectionService" />

         <provider
             android:name="eu.siacs.conversations.services.ImageProvider"
             android:authorities="eu.siacs.conversations.images"
             android:exported="true"/>
        
        <receiver android:name="eu.siacs.conversations.services.EventReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name="eu.siacs.conversations.ui.ConversationActivity"
            android:configChanges="orientation|screenSize"
            android:label="Conversations"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="eu.siacs.conversations.ui.SettingsActivity"
            android:label="Settings"
            android:parentActivityName="eu.siacs.conversations.ui.ConversationActivity" >
        </activity>
        <activity
            android:name="eu.siacs.conversations.ui.ManageAccountActivity"
            android:label="Manage Accounts"
            android:configChanges="orientation|screenSize"
            android:parentActivityName="eu.siacs.conversations.ui.ConversationActivity" >
        </activity>
        <activity
            android:name="eu.siacs.conversations.ui.MucDetailsActivity"
            android:label="Conference Details"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="eu.siacs.conversations.ui.ContactDetailsActivity"
            android:label="Contact Details"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="eu.siacs.conversations.ui.ContactsActivity"
            android:label="@string/title_activity_contacts"
            android:parentActivityName="eu.siacs.conversations.ui.ConversationActivity"
            android:windowSoftInputMode="stateHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.gultsch.chat.ui.ConversationActivity" />
            <intent-filter>
                <action android:name="android.intent.action.SENDTO" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="imto" />
                <data android:host="jabber" />
            </intent-filter>
        </activity>
        <activity
            android:name="eu.siacs.conversations.ui.ShareWithActivity"
            android:label="Conversations"
            android:theme="@android:style/Theme.Holo.Light.DialogWhenLarge"
            android:icon="@drawable/ic_launcher">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
    </application>

</manifest>
