<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="eu.siacs.conversations"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application>

        <receiver android:name=".services.MaintenanceReceiver"
                  android:exported="true"
                  android:permission="android.permission.CHANGE_CONFIGURATION">
            <intent-filter>
                <action android:name="eu.siacs.conversations.RENEW_INSTANCE_ID"/>
            </intent-filter>
        </receiver>

        <service
            android:name=".services.PushMessageReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service android:name=".services.InstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
    </application>
</manifest>
