name: Android CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'adopt'
    - name: Download WebRTC
      run: mkdir libs && wget -O libs/libwebrtc-m92.aar https://gultsch.de/files/libwebrtc-m92.aar
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build Quicksy (Compat)
      run: ./gradlew assembleQuicksyFreeCompatDebug
    - name: Build Quicksy (System)
      run: ./gradlew assembleQuicksyFreeSystemDebug
    - name: Build Conversations (Compat)
      run: ./gradlew assembleConversationsFreeCompatDebug
    - name: Build Conversations (System)
      run: ./gradlew assembleConversationsFreeSystemDebug
      
